<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Marzo3.Properties.Settings.milkcoConnectionString"
            connectionString="server=127.0.0.1;user id=root;password=abc.123;persistsecurityinfo=True;database=milkco"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>